@import "../../../MsfsAvionicsCommon/definitions";

// FCOM DSC-22-FMS-20-30 P 207: messages in big font between lines 80 px apart, from x = 67 to 687 and y = 194
.mfd-msg-list-element-container {
  margin: 51px 81px 0 67px;
  border-top: 2px solid $display-light-grey;
}

.mfd-msg-list-element-container .mfd-label.msg-list-element {
  font-size: 30px;
  height: 80px;
  box-sizing: border-box;
  padding: 6px 5px 0 5px;
  border-bottom: 2px solid $display-light-grey;
}
