@import "../../../../MsfsAvionicsCommon/definitions";

// FCOM DSC-22-FMS-20-30 P 139: tabs from y = 150, REF IDENT at y = 230, F-PLN INTERCEPT at y = 306
.mfd-fms-fpln-fix-info-header {
  height: 0;
}

// FCOM DSC-22-FMS-20-30 P 139, tab page coordinates (display x - 21, display y - 198)
.mfd-fms-fpln-fix-info-canvas {
  height: 100%;
}

.mfd-fms-fpln-fix-info-vline {
  position: absolute;
  left: 154px;
  top: 95px;
  height: 577px;
  border-left: 1px solid $display-light-grey;
}

.mfd-fms-fpln-fix-info-intercept-row {
  .mfd-fms-fpln-fix-info-eta {
    width: 110px;
  }

  .mfd-fms-fpln-fix-info-dist {
    width: 121px;
    justify-content: flex-end;
  }

  .mfd-fms-fpln-fix-info-alt {
    width: 153px;
    justify-content: flex-end;
  }

  .mfd-button {
    width: 107px;
    height: 41px;
    margin-left: 40px;
  }
}
