@import "../../../../MsfsAvionicsCommon/definitions";

// FCOM DSC-22-FMS-20-30 P 83-90 (positions in MfdFmsDataRoute.tsx)
.mfd-data-route-dialogs {
  position: absolute;
  top: 260px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}
